body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
.right {
    float: right;
}
#beta_warning {
    font-size: 150%;
    background-color: red;
    color: #FF0;
    border: dashed 4px #000;
    margin-bottom: 1em;
}
#special_banner {
    font-size: 140%;
    background-color: #EE7;
    padding: .3em;
}
#survey_banner {
    background-color: #98FB98;
    font-size: 140%;
    margin-bottom: .5em;
    padding: .3em;
}
#survey_top_spacer #survey_banner {
    margin-top: .5em;
}
#preview_banner {
    font-weight: 700;
    background-color: orange;
    margin-bottom: .5em;
    padding: .3em 0;
}
#preview_banner_inner {
    padding: 0 .3em;
}
.preview {
    background-color: #FFE944;
}
h1 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 200%;
    clear: both;
}
h2 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 150%;
}
h3 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 120%;
}
h4 {
    font-size: 100%;
}
hr {
    width: 100%;
    clear: both;
}
hr.divider {
    clear: left;
    visibility: hidden;
}
img .cover_img {
    color: #FFF;
    background-color: #000;
}
div.stats_left,
div.stats_right {
    width: 49%;
    float: left;
    margin-bottom: 1em;
    margin-right: 1%;
}
div.stats_content {
    padding-left: 8px;
}
.item_id {
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*background-color: #444;*/
    /*color: #FFF;*/
    /*font-weight: 700;*/
    /*width: 100%;*/
    /*padding: .2em 0;*/
}
.item_id .left {
    /*padding-left: .2em;*/
}
.item_id .right {
    /*padding-right: .2em;*/
}
.item_id .pagination {
    margin-top: .25em;
    font-size: 75%;
}
div.item_id {
    /*background-color: #EEE;*/
    /*color: #000;*/
    float: left;
    clear: both;
    /*border-top: none;*/
}
div.item_id div.prev_next {
    padding-right: .2em;
    float: right;
}
h1.search_id {
    font-size: 125%;
}
div.search_id_nav {
    float: right;
    padding-right: .2em;
}
.search_id_nav img {
    border: 0;
}
#search_reminder,
#bulk_change_info {
    float: left;
    margin-top: 1em;
}
.search_bar,
#plain_bar {
    clear: both;
    background-color: #1B2021;
    color: #FFF;
    vertical-align: middle;

    margin-bottom: .5em;
    vertical-align: middle;
    font-weight: 700;
    padding: .6em;
}
.my_search_bar {
    clear: both;
    background-color: #A9302A;
    color: #FFF;
    margin-bottom: .5em;
    vertical-align: middle;
    font-weight: 700;
    padding: .6em;
}
.search_bar form,
.my_search_bar form {
    display: inline;
    margin: 0;
}
.donate_link {
    background-color: orange;
    padding: .3em;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.search_bar img,
.my_search_bar img,
#plain_bar img {
    display: inline;
    height: 2em;
    position: relative;
    top: .5em;
    margin-top: -.5em;
}
#plain_bar span {
    font-size: 120%;
    font-weight: 700;
}




.fine_print {
    float: left;
    clear: left;
    margin-top: 1em;
}
.control_body {
    padding: 0 15.25em 0 0;
}
#control_container {
    float: left;
    width: 100%;
    border-right: 15.25em;
    margin-right: -15.25em;
    display: inline;
}
#control_center {
    float: left;
    width: 100%;
    margin-right: -100%;
}
#control_rail {
    float: right;
    width: 15.25em;
    margin-right: -15.25em;
    position: relative;
}
#control_header,
#control_footer {
    margin-right: -15.25em;
    clear: both;
}
.edit_box {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 80%;
}
.edit_box form {
    margin: 2px;
}
.edit_header {
    font-weight: 700;
    background-color: #DDD;
    margin: 0;
    padding: .4em;
}
.edit_footer {
    background-color: #DDD;
    margin: 0 0 1em;
    padding: .4em;
}
.edit_label {
    font-size: 120%;
    margin: 2px;
}
.cant_delete {
    color: gray;
}
#change_history {
    font-size: 80%;
    font-weight: 700;
}
table#covers {
    clear: left;
    margin: 1em 0;
}
table#covers td.marked {
    background-color: #DDD;
}
table#covers span.add {
    background-color: #98FB98;
}
table#covers span.delete {
    background-color: #FF6347;
}
table#covers span.modify {
    background-color: #FF0;
}
.no_cover {
    border: solid 1px #000;
}
.cover_links {
    /*font-size: 70%;*/
    /*white-space: nowrap;*/
}
/*.cover_caption {
    font-size: 75%;
}*/
.cover_grid {
    text-align: center;
    vertical-align: top;
    width: 20%;
}
.cover_grid img {
    background-color: #000;
    color: #000;
}
.cover_grid img:visited {
    color: #666;
}
.cover_grid .wraparound_cover_img,
#cover_uploaded .wraparound_cover_img {
    /*background-color: #000;*/
    /*color: #000;*/
    /*margin-left: 15px;*/
    /*padding-right: 15px;*/
    /*background: transparent no-repeat right center url(/static/css/gcd/foldoutarrow_100.png?79cc45444c99);*/
}
#cover_zoom {
    /*text-align: center;*/
}
#cover_zoom img {
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
}
#cover_zoom .wraparound_cover_img {
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    /*padding-right: 15px;*/
    /*background: transparent no-repeat right center url(/static/css/gcd/foldoutarrow_100.png?79cc45444c99);*/
}
#cover_zoom .cover_links {
    /*font-size: 100%;*/
    /*margin-bottom: 1em;*/
}
form.before_listing {
    margin-top: 1em;
    float: left;
}
.listing {
    float: left;
    clear: both;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: hidden;
}
.listing th {
    text-align: left;
    background-color: #888;
    color: #FFF;
    padding: .4em;
}
.listing td {
    border-right: solid silver 1px;
    padding: .3em .5em;
}
tr.row_even_False,
tr.listing_odd {
    background-color: #FFF;
    vertical-align: top;
}
tr.row_even_True,
tr.listing_even {
    background-color: #DDD;
    vertical-align: top;
}
td.listing_publisher {
    border-left: none;
}
td.listing_country {
    border-right: none;
}
/*.listing dl.credits {
    margin-bottom: 0;
}
.listing dl.credits dt {
    float: left;
    clear: both;
    padding-right: .25em;
}
.listing dl.credits dd {
    margin: 0;
}*/
div.updated_issues ul {
    list-style: none;
    margin: 0 .4em 0 0;
    padding: 0;
}
input.wide {
    width: 60em;
}
input.medium {
    width: 30em;
}
.pub_data {
    margin-right: .5em;
}
dl.pub_data {
    float: left;
    width: 100%;
    margin-top: 1em;
}
dl.pub_data dt {
    padding-right: .5em;
    float: left;
    clear: left;
}
dl.pub_data dd {
    float: none;
    margin: 0;
    padding: 0;
}
.embedded_flag {
    height: 1em;
    vertical-align: middle;
}
#index_status {
    padding: .4em;
}
#index_status_inner {
    margin: 0 .4em;
}
.index_status_available,
.index_status_0 {
    background-color: #EE7;
}
.index_status_editing,
.index_status_1 {
    background-color: #E77;
}
.index_status_reviewing,
.index_status_4,
.index_status_pending,
.index_status_2,
.index_status_discussed,
.index_status_3 {
    background-color: #EA7;
}
div.ongoing_status {
    background-color: #AEA;
    padding: .4em;
}
.publisher_list_control_panel form {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    display: inline;
}
.select_heading {
    width: 8em;
}
.error_message {
    color: red;
    font-weight: 700;
    float: left;
    clear: both;
    margin: 1em 0;
}
.error_message_text {
    color: red;
    font-weight: 700;
}
.footer_disclaimer {
    float: left;
    font-size: 80%;
    color: #666;
    margin: .5em;
}
.footer_disclaimer img {
    border-width: 0;
}
a.new_window {
    padding-right: 13px;
    background: transparent no-repeat right center url(/static/css/gcd/external.png?79cc45444c99);
    position: relative;
    z-index: 1;
}
a.new_window:hover span {
    display: block;
    position: absolute;
    left: 0;
    width: 11em;
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 5px;
}
a.link_info_left {
    position: relative;
    z-index: 1;
    text-decoration: none;
}
a.link_info_left:hover,
a.new_window:hover {
    z-index: 2;
}
a.link_info_left:hover span {
    display: block;
    position: absolute;
    left: -11em;
    width: 10em;
    border: 1px solid #000;
    background-color: #DDD;
    color: #000;
    text-align: center;
    font-size: 80%;
    padding: 5px;
}
#donate_table {
    width: 100%;
    border: solid 1px;
    border-spacing: 0;
}
#donate_table td {
    text-align: center;
    width: 33%;
    padding: .4em;
}
#donate_table th {
    font-weight: 700;
    background-color: #444;
    color: #FFF;
    padding: .4em;
}
.my_comics_cross_link {
    margin-bottom: .5em;
    background-color: #A9302A;
    text-align: center;
    padding: .4em;
}
.www_comics_cross_link {
    margin-bottom: .5em;
    background-color: #66E;
    text-align: center;
    padding: .4em;
}
.my_comics_cross_link a,
.www_comics_cross_link a {
    color: #FFF;
    font-size: 120%;
    font-weight: 700;
}
.side_section_header {
    margin-bottom: 0;
    background-color: #444;
    font-size: 120%;
    font-weight: 700;
    color: #FFF;
    padding: 0 .4em;
    /* vertical padding disrupts bootstrap collapse animation*/
}
/*ul.side_section_body {
    list-style: none;
    font-size: 80%;
    background-color: #DDD;
    margin-top: 0;
    margin-bottom: .5em;
    padding: 0.5em .4em;
}*/
div.search_terms {
    clear: left;
    margin-bottom: 1em;
}
form#comments textarea {
    height: 10em;
    width: 60em;
    margin-bottom: 1em;
}
.cover_button {
    display: inline;
}
#new_search_link {
    position: relative;
}
#new_search_link sup {
    position: absolute;
    right: 0;
    top: -9px;
}
#sizing_base,
.search_bar input,
.my_search_bar input,
.search_bar select,
.my_search_bar select {
    font-size: 80%;
}
.left,
h1.item_id,
div.item_id div.item_data {
    /*float: left;*/
    display: inline;
}
dt,
.cover_number,
.message,
span.search_terms {
    font-weight: 700;
}
#item_id_footer,
.empty_side_section_body {
    margin-bottom: .5em;
}
#item_id_footer_replace_bottom,
div.list_table_header,
/*.footer_item,*/
form#comments {
    margin-bottom: 1em;
}
/*.item_id:link,
.item_id:visited,
.my_search_bar:link,
.my_search_bar:visited,
.side_section_header a {
    color: #FFF;
}*/
div.item_id:link,
div.item_id:visited,
.search_bar:link,
.search_bar:visited,
#plain_bar:visited,
#change_history a,
.cover_grid img:link,
#index_status:visited,
#index_status:link {
    color: #000;
}
#publisher_detail_listing,
.listing dl {
    margin-top: 0;
}
.control_panel,
.publisher_list_control_panel {
    clear: both;
}
.hidden,
a.link_info_left span,
a.new_window span {
    display: none;
}

/*dl {
    float: left;
    width: 100%;
    margin-top: 0;
}
dt {
    float: left;

    padding-right: .25em;
}
dd {
    float: left;
    margin: 0 .5em 0 0;
}*/

div#format {
    margin-top: 0;
    margin-bottom: 1em;
    float: left;
}
#format_tag {
    font-weight: 700;
    float: left;
}
#format_data {
    float: left;
}
#issue_data {
    float: left;
    width: 100%;
}
#issue_data p {
    margin-top: .4em;
}
#issue_data_list {
    padding-top: 1em;
    margin-bottom: 0;
}
#series_date {
    font-weight: 700;
    margin-bottom: 0;
}
#story_toc {
    font-size: 80%;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}
#story_toc li {
    padding: .4em;
}
#story_toc li.odd {
    background-color: #FFF;
}
#story_toc li.even {
    background-color: #DDD;
}
a.cache_link {
    color: #000;
    font-weight: 400;
}
.issue_cover_links {
    float: left;
    clear: left;
    font-size: 80%;
    width: 200px;
}
.cover {
    padding-top: 0;
    overflow: hidden;
    padding-left: 225px;
    margin-bottom: .5em;
}
.coverContainer {
    width: 100%;
    border-left: 225px solid #FFF;
    margin-left: -225px;
    display: inline;
    float: left;
}
.coverContent {
    width: 100%;
    float: right;
    position: relative;
}
.coverImage {
    float: left;
    width: 223px;
    margin-left: -225px;
}
.coverImage .wraparound_cover_img {
    padding-right: 15px;
    background: transparent no-repeat right center url(/static/css/gcd/foldoutarrow_100.png?79cc45444c99);
}
#index_credits {
    clear: both;
    font-size: 80%;
    margin-bottom: 1em;
    padding: 0;
}
#indexers_header {
    font-weight: 700;
    background-color: #DDD;
    margin: 0;
    padding: .4em;
}
#index_credits ul {
    margin: .4em;
}
div.issue_notes_border {
    width: 100%;
    float: left;
}
div.issue_notes h3 {
    clear: both;
    background-color: #DDD;
    margin-top: 0;
    margin-bottom: .15em;
    padding: .2em 6px;
}
div.issue_notes p {
    margin: 0 0 .5em;
    padding: .2em 6px;
}
div.issue_notes dt {
    padding-left: 6px;
}
#cover_data,
div.issue_notes {
    clear: left;
    margin-right: 1.5em;
}
.credit_header {
    clear: both;
}
/*.single_story dl.credits {
    margin-bottom: .5em;
}
dl.credits dt {
    clear: left;
    padding-right: .5em;
}
dl.credits dd {
    float: none;
    margin: 0;
    padding: 0;
}*/
hr.content_header {
    clear: both;
    height: 4px;
    background-color: #DDD;
    border: none;
}
.single_story dl.contents {
    margin-bottom: .15em;
}
dl.contents dt {
    clear: left;
}
dl.contents dd {
    clear: left;
    margin-bottom: .5em;
    padding-left: 6px;
}
dl.contents dd.short {
    clear: none;
    padding-left: 0;
}
#story_data,
#cover_data {
    clear: left;
    margin-bottom: 1em;
    margin-right: 1.5em;
}
.offset_one_back {
    position: relative;
    left: -1px;
}
div.single_story {
    float: left;
    width: 100%;
}
.single_story h2 {
    clear: both;
    float: left;
    padding: .5em 6px .2em 6px;
}
.single_story h3 {
    clear: both;
    background-color: #DDD;
    margin-top: 0;
    margin-bottom: .15em;
    padding: .2em 6px;
}
div.non_comics {
    border: solid #000 2px;
    float: left;
    width: 100%;
    margin-bottom: 1em;
}
.non_comics h3 {
    float: left;
    background-color: #66E;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
.single_story h4 {
    clear: both;
    padding: .2em 6px;
}
.single_story dl {
    margin: 0;
    padding: .2em 0;
}
.single_story_navigation a {
    color: #FFF;
    font-size: 80%;
    font-weight: 400;
}
.single_story p {
    margin: 0 0 .5em;
    padding: .2em 6px;
}
.single_story .right {
    padding-right: 6px;
}
.sequence_header {
    background-color: #DDD;
}
h3.feature {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    float: left;
    padding: .2em 0;
}
h3.feature a {
    color: #000;
}
h2.title {
    background-color: #444;
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    width: 100%;
    padding: .5em 0;
}
span.feature {
    font-weight: 700;
}
span.seq_no {
    font-size: 80%;
    font-weight: 700;
}
span.type,
span.non_bold {
    font-weight: 400;
}
p.type_page {
    margin-top: .5em;
}
span.linkify {
    border: solid #666 1px;
    color: #888;
    font-size: 80%;
    padding: 0 .2em;
}
.single_story dt,
.single_story .left,
.non_comics .left {
    padding-left: 6px;
}
span.linkify:link,
span.linkify:visited {
    color: #888;
    text-decoration: none;
}




/*


Visual Redesign Changes by Chuk Below



*/



body{
    /*v1 flush margins*/
    margin: 0;
}

/*v1 stylings needed here*/
.header_bar {
    position: relative;
    width: 100%;
    background-color: #4a4a4a;
    color: #FFF;
    vertical-align: middle;
    z-index: 1000;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 600;
    padding: .3em;
    /*v1 larger fonts*/
    font-size: 300%;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);

}

.header_bar form {
    display: inline;
    margin: 0;
}

.header_bar input{
    font-size: 80%;
}

.header_bar select{
    font-size: 80%;
}



.header_bar a {
    /*v1 bar links*/
    color: white;
    text-decoration: none;
}



#bar_oval{
    /*adds oval behind GCD logo*/
    position: absolute;
    left:-38px;
    top:-20px;
    -webkit-filter: drop-shadow( 4px 5px 4px #000 );
    filter: drop-shadow( 4px 5px 4px #000 );
    
    -webkit-transition: all .3s;
    transition: all .3s;
}


#bar_logo img{
    /*styles GCD logo*/
    margin-left: 5px;
    margin-right:45px;
    height: 2em;
    -webkit-filter: drop-shadow( 4px 5px 4px rgba(0,0,0,.25) );
    filter: drop-shadow( 4px 5px 4px rgba(0,0,0,.25) );    
    vertical-align: middle;
    
    -webkit-transition: all .3s;
    transition: all .3s;
}



.donate_link{
    /*v1 donate sizing*/
    background-color: inherit;
    margin-right:8%;
}



input[type="text"]{
    border: 1px solid #979797;
    border-radius: 5px;
    height: 1.5em;
    width: 20%;
    color: #000;
    font-weight: lighter;

}

#bar_submit {
    border: 0px;
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    background-image:url("icons/search-white.svg");
    background-size:1.5em;
    background-repeat: no-repeat;
    color: transparent;
    cursor: pointer;

    -webkit-transition: all .3s;
    transition: all .3s;
    
}

#bar_submit:hover {
    /* search icon turns and grows on hover*/
    -webkit-transform: rotate(15deg) scale(1.1);
    transform: rotate(15deg) scale(1.1);
}


select.bar_select{
    border: 1px solid #979797;
    border-radius: 5px;
    height: 1.5em;
    width: 21%;
    font-weight: lighter;
    cursor: pointer;
    color: #000;
}

#login_button{
   
    float: right;
    line-height: 2.4em;

    border: 0;
    background-color: transparent;
    color: #fff;

    cursor: pointer;
    font-weight: 200;
}


.sidebar{
  height: auto;
  min-height: 100%;
  width: 275px;
  left: 0;
  
  
  position: absolute;
  z-index: 10;

  background-color: #4a4a4a;  
  color: #fff;
  font-size: 200%;
  padding: 25px 30px 25px 15px;

  -webkit-transition: all .3s;
  transition: all .3s;
}





#wrapper1{
    width: 100%;
}

#wrapper1.sidebar-collapsed {
    /* when sidebar-collapsed, left padding at minimum*/
    margin-left: 0%;
}

#wrapper1.sidebar-collapsed .sidebar {
    /* when sidebar-collapsed, push bar to far left */
    left: -240px;
}

#wrapper2{
    margin-left: 270px;
    padding-top: 2em;
    
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    font-size: 200%;
}


#wrapper2 a,
.onebody a {
    color: #4a4a4a;
    text-decoration: underline;
}

#wrapper2 a:visited,
.onebody a:visited
{
    color: #9B9B9B;
    text-decoration: underline;
}


#wrapper1.sidebar-collapsed #wrapper2 {
    margin-left: 30px;
    left:0;
}

.btn-sidebartoggle{
    position: absolute;
    left: 250px;
    top: 2em;
    
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;

    border-radius: 5px;
    font-weight: 600;
    font-size: 100%;
    padding: 2px;
    text-align: left;
    margin-bottom: .5em;

    -webkit-transition: all .3s;
    transition: all .3s;
}

button.btn-sidebartoggle:focus, 
button.btn-sidebartoggle:active, 
button.btn-sidebartoggle:hover {
    color: #000;
}

button.btn-sidebartoggle img {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.sidebar-collapsed button.btn-sidebartoggle img{
    /* this controls the button to hide the sidebar offcanvas*/
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    
}


.sidebar h1{
    font-size: 200%;
    font-weight: 700;
    margin-top: 0;
}


.prev_next{
    margin-bottom: .5em;
}

.prev_next img{
    margin-right: .3em;
}

form.number_dropdown{
    display: inline;
    vertical-align: middle;
}

form.number_dropdown select, 
form.number_dropdown input[type="submit"]{
    border-radius: 3px;
    margin-right: .3em;
    background-color: transparent;
}

form.number_dropdown.white select, 
form.number_dropdown.white input[type="submit"] {
    border: 1px solid #fff;
}

form.number_dropdown.white select option{
    color: #000;
}

form.number_dropdown.dark select, 
form.number_dropdown.dark input[type="submit"] {
    border: 1px solid #4A4A4A;
}

form.number_dropdown.dark select option{
    color: #4A4A4A;
}

.sidebar-item{
    margin-bottom: .5em;
}

button.btn-sidebar {
    background-color: #9b9b9b;
    border: 1px solid transparent;
    color: #000;

    border-radius: 5px;
    font-weight: 600;
    font-size: 100%;
    padding: 6px;
    text-align: left;
    margin-bottom: .5em;

    -webkit-transition: all .3s;
    transition: all .3s;
}

button.btn-sidebar:focus, 
button.btn-sidebar:active, 
button.btn-sidebar:hover {
    color: #000;
    outline: 0;
    box-shadow: 0 0 0 1px #E49B25;
}

button.btn-sidebar.collapsed {
    background-color: transparent;
    border: 1px solid #9b9b9b;
    color: #fff;
}

button.btn-sidebar.collapsed:focus, button.btn-sidebar.collapsed:active {
    color: #fff;
}

button.btn-sidebar.collapsed:hover {
    color: #fff;
    background-color: rgba(155,155,155,.25);   

}

.collapse-indicator {
    display: inline-block;
}

/* when button uncollapsed display these things */
button div.collapse-indicator img {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: invert(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
}

/* when it is collapsed cancel rotation and color change */
button.collapsed div.collapse-indicator img {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    filter: invert(0%);
}



.sidebar-checkbox{
    display: none;
    position: relative;
    vertical-align: middle;
}

input[type="checkbox"].styled-checkbox{
    display: inline-block;
    position: relative;

    appearance: none;
    -webkit-appearance: none;
    
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.25);
    /* made box shadow more subtle than original design */
    padding: 7px;
    border-radius: 3px;
}

input[type="checkbox"].styled-checkbox:active, input[type="checkbox"].styled-checkbox:checked:active {
}

input[type="checkbox"].styled-checkbox:checked {
    border: 1px solid #979797;
    background-color: #ddd;
    
}

input[type="checkbox"].styled-checkbox:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #000;
}



.tooltip-text {
    visibility: hidden;
    position: absolute;

    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-weight: lighter;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    vertical-align: middle;
    z-index: 1;

    /* Position the tooltip */
    width: 15em;
    left: 2.7em;
    top: -.5em;

    font-size: 80%;
}

.sidebar-checkbox:hover .tooltip-text {
    visibility: visible;
    display: block;
}

.mainbody-checkbox:hover .tooltip-text {
    visibility: visible;
    display: block;
}



.tooltip-text::before{
    position: absolute;
    content: url("icons/trianglearrow-left-dark.svg");
    transform: scale(2);
    left: -1.15em;
    padding: 5px 0;
    background: transparent;
}



/* restyling toc listing from the default.css */


#story_toc {
    font-size: 100%;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}
#story_toc li {
    padding: .4em;
    border-bottom: 1px solid black;
    background-color: transparent;
}
#story_toc li.odd {
    background-color: transparent;
}
#story_toc li.even {
    background-color: transparent;
}

#story_toc li:last-child{
    border-bottom: 0;   
}
.side_section_header {
    margin-bottom: 0;
    background-color: transparent;
    font-size: 100%;
    font-weight: 700;
    color: #FFF;
    padding-right: .4em;
    padding-left: 1em;
    /* vertical padding disrupts bootstrap collapse animation*/
}
ul.side_section_body {
    list-style: none;
    font-size: 80%;
    background-color: inherit;
    padding: 0 .4em;
    margin-top: 0;
    /*margin-bottom: .5em;*/

}




ul.side_section_body .tooltip-text {
    font-size: 100%;
    /* compensates for inherited % decrease in font-size from side_section_body */
}

.toc_story_feature{
    font-weight: lighter;
    
}

.toc_story_title{
    position: relative;
}

.toc_item_number{
    position: absolute;
    color: transparent;
    font-weight: lighter;
}

.side_section_header.collapse.in .toc_item_number {
    color: #fff;
    left: .5em;
}

.side_section_header.collapsing .toc_item_number {
    color: transparent;
}








.sidebar-option{
    /*used for download csv vs tsv*/
    font-weight: lighter;
    font-size: 80%;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.25);
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.sidebar-option:hover{
    text-decoration: none;
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.5);
}

.side_section_body a:visited,
.side_section_header a:visited {
    color: #9B9B9B
}

.side_section_body a,
.side_section_header a {
    color: #fff;
}


.side_section_body li form{
    background: transparent;
    margin: 0;
    position: relative;
}

.side_section_body li input{
    position: relative;
}

.side_section_body li input[type="submit"]{
    background: transparent;
    border: 0;
    padding: 0;
}

.side_section_body li input[type="submit"]:enabled:hover{
    text-decoration: underline;
}

.side_section_body li input:disabled {
    /*color: #9b9b9b;*/
    text-decoration: line-through;
}


.side_section_body li form .tooltip-text{
    /* Position the tooltip */
    position: absolute;
    width: 10em;
    left: 5em;
    top: -.5em;
}

.side_section_body li form:hover .tooltip-text {
    visibility: visible;
    display: block;
}

.sidebar-ad {
    margin-left: 2em;
    margin-top: 2em;
}

.onebody-ad img {
    margin: 6em auto;
    display: block;
}

#wrapper2 h1,
.onebody h1 {
    font-size: 200%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .3em;
    vertical-align: bottom;
}

#wrapper2 h2,
.onebody h2 {
    font-size: 150%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .3em;
    vertical-align: bottom;
    line-height: 1.7em;
}

.onebody h3 {
    font-weight: 700;
    margin: .2em 0;
    display: inline;
}

#issue-header:hover {
    /*not currently used, would reveal options on hover*/
}


img.cover_img {
    
    
}

#issue-cover {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1em;
    box-shadow: 4px 5px 4px #000;

    -webkit-transition: all .3s;
    transition: all .3s;
}

#issue-cover:hover .gallery-link {
    color: #fff;
}

.gallery-link {
    position: absolute;
    
    bottom: -40px;
    right: 1em;
    
    width: 30%;
    font-weight: 700;
    color: transparent;

    transition: all .3s;
}

.gallery-link .oval {    
    -webkit-filter: opacity(20%);
    filter: opacity(20%);
    width: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#issue-cover:hover .gallery-link  .oval {
    -webkit-filter: opacity(70%);
    filter: opacity(70%);
    width: 160px;
}

.gallery-link span {
    position: absolute;
    top: 25%;
    left: 30%;
    color: #fff;
    text-decoration: underline;
}

button.btn-mainbody{
    /* blue with white text*/
    background-color: #6666EE;
    color: #fff;

    border-radius: 5px;
    font-weight: 700;
    padding: 6px;
    text-align: left;
    margin-bottom: .5em;

    -webkit-transition: all .3s;
    transition: all .3s;
}

button.btn-mainbody.collapsed{
    background-color: transparent;
    color: #4A4A4A;
    border: 1px solid #979797;
}


button.btn-mainbody:focus, 
button.btn-mainbody:hover, 
button.btn-mainbody:active{
    outline: 0;
    box-shadow: 0 0 0 1px #6666EE;
    color: #fff;
}

button.btn-mainbody.collapsed:focus, button.btn-mainbody.collapsed:hover{
    color: #4a4a4a;
}

button.btn-mainbody.collapsed:hover {
    background-color: rgba(102,102,238,.25);
}

.mainbody-checkbox{
    display: none;
    position: relative;
    vertical-align: middle;
}

#issue_data_list {
    padding-top: 0;
    margin-bottom: 0;
}




dl {
    float: none;
    width: 100%;
    margin-top: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
dt {
    float: left;
    clear: left;
    padding-right: .25em;
}

dd {
    /*float: left;*/
    /*This float left is unnecessary and disrupts the collapse animation */
    margin: 0 .5em 0 0;
}

.clear-left{
    clear: left;
}

.mainbody-item{
    margin-bottom: .5em;
    color: #4a4a4a;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.mainbody-item ul {
    list-style-type: none;
    /*margin-left: 0;*/
    padding-left: 1em;

}

.story-header{
    margin-bottom: 1em;
    position: relative;
}

h2.title {
    background-color: inherit;
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    width: 100%;
    padding: .2em 0;
}

.single_story span.type {
    float: right;
    font-style: italic;
    font-size: 80%;
}

span.feature {
    font-weight: 500;
    padding-bottom: 1em;
}

.single_story .left {
    padding-left: 0;
}

.story-hover-button {
    visibility: hidden;
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
    position: absolute;

    left: -1em;
    width: 3em;

    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.report-item {

}

.remember-item {
    top: 1.5em;
    width: 3em;
}

.story-header:hover .story-hover-button {
    visibility: visible;
    -webkit-filter: opacity(75%);
    filter: opacity(75%);

    left: -2em;

    -webkit-transition: all .3s;
    transition: all .3s;
}

.single_story {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.25);
    margin-bottom: .5em;
}


#footer {
    margin-top: 5em;
    padding: 1em 2%;   

    background-color: #4a4a4a;  
    color: #fff;

    font-size: 80%;

    /*line-height: */
}

.footer_item {
    display: block;
    padding-bottom: .5em;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

#footer a:visited {
    color: #fff;
}

#cover-page-cover {
    font-size: 200%;
}

#cover-page-cover .gallery-link {
    font-size: 50%;
}

.onebody {
    padding-top: 2em;
    font-size: 200%;
}

.cover_links {
    text-align: center;
    /*font-size: 200%;*/
}

.cover_img {
    background: transparent no-repeat right center url(icons/foldoutarrow_100.png?79cc45444c99);
}

.gallery-cover {
    float:left;
    height: 220px;
    width: 150px;
    position: relative;
    
}

.gallery-cover img {
    margin: 0 auto .5em auto;
    display: block;
    box-shadow: 1px 2px 1px #000;

}

#gallery-container {
    margin-top: 1em;
}

.cover_caption {
    font-size: 75%;
    text-align: center;
}

.cover-edit-button {
    /*visibility: hidden;*/

/*    position: relative;
    left: -3.5em;
    top: -3em;*/

    position: absolute;
    left: 1em;
    top: 70%;

    -webkit-filter: opacity(0%);
    filter: opacity(0%);

    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.cover-edit-button img {
    box-shadow: none;
}

.gallery-cover:hover .cover-edit-button {
    visibility: visible;
    left: 0;

    -webkit-filter: opacity(75%);
    filter: opacity(75%);
}


.nofloat {
    float:none;
}



@media screen and (max-width: 980px){
    .gallery-link {
        right: 2em;
    }
}

@media screen and (max-width: 786px){
    .header_bar{
        font-size: 200%;
    }   
    #bar_oval{
        transform: translate(-1em, -1em) scale(.7);
        
    }
    .donate_link{
        margin-right: 1%;
    }
    #bar_logo img{
        margin-right: 25px;
    }
    select.bar_select{
        width: 23%;
    }

}



@media screen and (max-width: 600px){
    /*If viewport is below 600, and sidebar defaults to collapsed,
    then an open sidebar shifts to wrapper2 content to the side
    instead of squeezing it */
    #wrapper1:not(.sidebar-collapsed) #wrapper2 {
        margin-left: 30px;
        left: 240px;
    }
}


@media screen and (max-width: 450px){
    /*switch headerbar into 2 rows*/
    #header_search_form {
        display: block;
        position: relative;
        margin-left: 15%;
    }
    #header_search_form input[type="text"]{
        width: 40%;
    }
    #login_button{
        position: relative;
        top: -4.25em;
        margin-right: 10%;
    }
    select.bar_select {
        width: 40%;
    }
    .onebody {
        /*float left with extra long header creates unneeded top margin */
        float:none;
    }



}



.debug {
    border: 2px solid red;
}


.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    font-size: 200%;
    text-align: center;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid #888;
    width: 40%;
}

